*
{
	margin: 0;
	padding: 0;
  box-sizing: border-box;
}
body
{
 	font-size: 18px;
	font-family: 'Kumbh Sans', sans-serif;
  	background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
	background-repeat: no-repeat no-repeat;
/*   background-position: -110vh -160vw, 20vh 70vw; */
	background-color: #19A2AE;
  background-position: right 50vw bottom 45vh,  45vw 50vh;
  height: 100vh;
/*   padding-top: rem;  */
}
.container
{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.victor
{
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 5px solid white;
}
.header
{
  width: 330px;
  overflow: hidden;
}
.card
{
  width: 330px;
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
}
.title
{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 4.2rem;
}
.name
{
  font-size: 16px;
  margin-right: 11px;
  color: #2D3248;
}
.age
{
  color: #969696;
}
.City
{
  text-align: center;
  font-size: 14px;
  padding: .7rem 0rem 1.5rem;
  color: #969696;
}
.wrapper
{
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid #ebecf2;
  padding: 1.5rem 0rem;
}
.num
{
  font-weight: 700;
  text-align: center;
  color: #2D3248;
}
.text
{
  font-size: 10px;
  padding: .3rem;
  color: #969696;
  letter-spacing: 1px;
}
.attribution 
{ 
  font-size: 11px; 
  text-align: center; 
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
}
.attribution a { color: hsl(228, 45%, 44%); }

